@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
  --font-itim: "itim", serif;
  --color-ruby: #d60052;
  --color-ourple: #906bff;
}
